
@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Gilroy-Regular.ttf);
}
@font-face {
    font-family: "Space Grotesk";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/SpaceGrotesk-Regular.ttf);
  }
  @font-face {
    font-family: "Work-sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/WorkSans-Regular.ttf);
  }

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    color: #FFFFFF;
    max-width: 1802px;
}
body{
    background-color: #272727;
    font-family: "Gilroy";
    display: flex;
    flex-direction: column;
    max-width: 100%;
}
.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header{
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    align-items: center;
    margin: 42px 0 42px;
    padding: 0 58px 0 58px;
}
.main-logo{
    margin-right: 153px;
}
.pages{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.pages-links{
    margin-right: 3rem;
}
.book-button{
    width: 165px;
    height: 41px;
    background-color: #FCD54C;
    color: #272727;
    font-size: 14px;
    margin-right: 5rem;
    margin-left: 43rem;
}
.title-screen{
    max-width: 100%;
    width: 1802px;
    height: 971px;
    background-image: url(../pics/title\ pic.png);
    
}
h1{
    top:360px;
    left: 384px;
    font-family: "Space grotesk";
    color: #FFFFFF;
    Font-size: 96px;

}
.yellow-letter{
    color: #FCD54C;
}
.title-line{
    position: absolute;
    left: 356px;
    top:278px;
}
.consultation-link{
    color: #FFFFFF;
    list-style: none;
    position: absolute;
    left: 384px;
    bottom: 340px;
}
.benefits{
    display: flex;
    align-items: center;
    z-index: 2;
    background-color:#272727;
    width: 1080px;
    height: 150px;
    position: absolute;
    left:762px;
    bottom: 0px;
}
.benefits-table{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    color: #FFFFFF;
    margin-left: 60px;
    font-size: 60px;
    
}
.benefit-number{
    display: flex;
    flex-direction: row;
}
.benefit-discription{
    margin-right: 171px;
    margin-left: 31px;
    font-size: 16px;
}
.first-number{
    color:#FCD54C;
}
.latest-project{
    margin-top: 124px;
}
.late-title{
    margin-bottom: 77px;
    margin-left: 20%;
    font-size: 48px;
}
.yellow-card{
    width: 430px;
    height: 573px;
    background-color: #FCD54C;
    position: relative;
}

.project-cards{
    display: grid;
    grid-template-areas:
    'first second third fourth';
  grid-template-columns: repeat(4, 430px);
  grid-column-gap: 30px;
  padding:1%;
  margin-bottom: 181px;
}
.yellow-card-title{
    color: #272727;
    position: absolute;
    top:46px;
    left: 36px;

    font-size: 32px;
}
.yellow-card-discription{
    position: absolute;
    color: #272727;
    top:209px;
    left: 30px;
    font-size: 22px;
    max-width:339px;
    line-height: 26px;
}
.yewllow-card-link{
    position: absolute;
    left: 30px;
    bottom: 43px;
    color: #272727;
    font-size: 20px;
}
.our-expertise{
    max-width: 100%;
    max-width: 730px;
    display: flex;
    justify-self: center;
    flex-direction: column;
}
.our-expertise-yellow{
    color: #FCD54C;
    margin-bottom:40px;
}
.our-expertise-title{
    font-size: 70px;
    margin-bottom: 33px;
}
.our-expertise-discription{
    font-size: 18px;
    margin-bottom: 89px;
}
.dubai-video{
    position: relative;
    left:10%
}
.quote{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 313px;
    width: 1110px;
    border: 1px solid #FCD54C;
    position: relative;
    margin-bottom: 64px;
}
.quote-text{
    max-width: 917px;
    font-size: 30px;
    line-height: 48px;
}
.mary-yellow{
    color: #FCD54C;
}
.hotel-pic{
    display: grid;
    grid-template-areas:
    'first second' 
    'third fourth';
  grid-template-columns: repeat(2, 543px);
  grid-template-rows: repeat(2, 312px);
  grid-column-gap: 23px;
  grid-row-gap: 70px;
  position: relative;
  margin-bottom: 125px;
}
.contact-us{
    background-image: url(../pics/Rectangle\ 868.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    align-self: center;
    margin-bottom: 140px;
}
.questions{
    font-size: 18px;
    Line-height: 29px;
    color: #272727;
    font-weight: 700;
    margin: 87px 776px 15px 778px;
}
.questions-title{
    font-weight: bold;
    font-size: 120px;
    color: #272727;
}
.send-emale-form{
    display: flex;
    flex-direction: row;
    align-items:  center;
}
.send-emale-input{
    width: 472px;
    height: 61px;
    color: #272727;
}
.send-emale-button{
    height: 61px;
    width: 165px;
    background-color: #272727;
}
.send-emale-input::placeholder{
    padding: 25px 94px 22px 42px;
    Opacity: 50%
}
.useful-articles-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 70px;
}
.useful-articles-title-link{
    font-size: 16px;
    color: #929292;
    text-decoration: none;
}
.useful-articles{
    display: flex;
    width: 100%;
    justify-content: center;
}
.useful-articles-cards{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-bottom: 226px;
}
.useful-articles-first-card{
    height: 350px;
    width: 352px;
    background-image: url(../pics/Discover\ Architecture.png);
}
.useful-articles-second-card{
    height: 350px;
    width: 352px;
    border: 1px solid #FCD54C;
    position: relative;
}
.second-card-data{
    font-size: 16px;
    margin-bottom: 15px;
    margin: 41px 0 15px 36px ;
}
.second-card-title{
    font-size: 25px;
    font-weight: bold;
    margin: 0 64px 28px 38px ;
}
.second-card-discription{
    color: #929292;
    font-size: 16px;
    line-height: 26px;
    width: 280px;
    height: 122px;
    margin: 0 36px 52px 35px;
}
.second-card-link{
    margin: 0 0 20px 36px;
    color: #FCD54C;
    font-size: 16px;
}

.useful-articles-third-card{
    height: 350px;
    width: 352px;
    background-image: url(../pics/Discover\ Architecture\ 2.png)
}
.flex-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-weight: bold;
}
.discover-cardtext{
    padding-bottom: 20px;
    text-decoration: none;
    font-size: 25px;
}
.discover-cardtext:hover{
    font-size: 27px;
    transition: 0.2s;
}

.faq{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 122px;
}
.Faq-title{
    font-size: 70px;
    margin-bottom: 50px;
}
.wrap{
    font-family: "Gilroy";
    font-size: 18px;
    line-height: 23px;
    border-bottom: 1px solid #929292;
}
.faq-table{
    list-style: none;
    width: 1108px;
    height: auto;
}
label{
    width: 100%;
}
.title{
display: inline;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 72px;
}
.text{
    width: 100%;
    overflow: hidden;
    height: 0;
}
#check{
    display: none;
}
#check:checked~.text{
    height: auto;
}
#check:checked~svg{
    transform: rotate(180deg);
    transition: 0.2s;
}
.footer-line{
    border: none; 
    background-color:#929292;
    height: 2px; 
    margin-bottom: 77px;
    width: 100%;
    max-width: 1920px;
}
.contacts{
    display: flex;
    justify-content: center;
}
.footer-logo{
    margin-bottom: 51px;
}
.information-table-wrap{
    display: flex;
    justify-content: center;

}
.information-table{
    list-style: none;
    display: flex;
    flex-direction: row;
}
.information-categories{
    display: flex;
    flex-direction: column;
    color: #929292;
    margin: 0 10rem 0 5rem;
    
}
.information-links{
    text-decoration: none;
    color: #929292;
    margin: 0 0 20px 0;
}
.information-links:first-child{
    margin-top: 40px;
}
.information-links:last-child{
    margin-bottom: 95px;
}






.blog-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}
.blog-cards-wrap{
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(4, 653px);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.blog-card-discription{
    height: 223px;
    width: auto;
    border: 1px solid #FCD54C;
    z-index: 2;
    padding: 15px 15px 0 15px;
}
.blog-card-title{
    font-family: "Gilroy";
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}
.blog-card-text{
    font-size: 16px;
    line-height: 26px;
    color: #929292;
    margin-bottom: 15px;
}


.servise-body{
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.servise-main-screen{
    position: relative;
    margin-left: 4rem;
    background-image: url(../pics/servise\ main\ pic.png);
    width: 1800px;
    height:768px;
    margin-bottom: 122px;
}
.rent-title {
    position: absolute;
    margin-top: 533px;
    margin-left: 345px;
    z-index: 2;
    font-size: 60px;
    font-weight: bold;
}
.rent-sub-title{
    position: absolute;
    margin-top: 496px;
    margin-left: 345px;
    z-index: 2;
    font-size: 20px;
    font-family: "Work-sans";

}
.servise-discription-wrap{
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    justify-content: center;
    align-items: center;
}
.servise-discription{
    width: 728px;
    font-size: 16px;
    font-family: "Work-sans";
    color: #929292;
    line-height: 26px;
    margin-bottom: 80px;
}
.burj-pic{
    display: flex;
    justify-content: center;
    margin-bottom: 82px;
}
.method-block{
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    justify-content: center;
    align-items: center;
    margin-bottom: 104px;
}
.method-discription{
    width: 728px;
    font-family: "Work-sans";
    font-size: 16px;
    line-height: 26px;
    color:#929292
}
.method-title{
    font-size: 25px;
    font-family: "Gilroy";
    margin-bottom: 50px;
}
.paul-quote{
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    justify-content: center;
    align-items: center;
    margin-bottom: 104px;
    border: 4px solid #FCD54C;
    width: 730px;
    height: 230px;
}
.paul-quote-text{
    
}